*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# Mac ds files
*.DS_Store*

# Asta temp files
*.lock

# IntelliJ Project Data
.idea
