<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name = "hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<property name = "hibernate.connection.driver_class">
			org.mariadb.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->

		<property name = "hibernate.connection.url">
			jdbc:mariadb://localhost:3306/METLAB_DB
			<!-- jdbc:mariadb://46.101.223.95:3306/METLAB_DB-->
		</property>

		<property name = "hibernate.connection.username">
			root
		</property>

		<property name = "hibernate.connection.password">
			test
		</property>


		<mapping class="me.metlabnews.Model.Entities.Subscriber"/>
		<mapping class="me.metlabnews.Model.Entities.Organisation"/>

	</session-factory>
</hibernate-configuration>