<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- Security -->
	<entry key="Security.Password.MinimumLength">1</entry>
	<entry key="Security.Password.LowerCaseLetterRequired">false</entry> <!-- {false, true} -->
	<entry key="Security.Password.UpperCaseLetterRequired">false</entry> <!-- {false, true} -->
	<entry key="Security.Password.DigitRequired">false</entry> <!-- {false, true} -->
	<entry key="Security.Password.SpecialCharacterRequired">false</entry> <!-- {false, true} -->
	<entry key="Security.Password.WhitespaceForbidden">false</entry> <!-- {false, true} -->


	<!-- Crawler -->
	<entry key="Crawler.Timeout">12345</entry>
	<entry key="Crawler.MaxDocsPerDomain">12345</entry>
	<entry key="Crawler.TypePreferred">RSSFeed</entry>


	<!-- ClippingDaemon -->
	<entry key="ClippingDaemon.EnqueuingTimeOut">12345</entry>


	<!-- BaseX -->
	<entry key="BaseX.Path">C:\\Users\\Erik\\basexDB</entry>
	<entry key="BaseX.DbName">ClippingDB</entry>
	<entry key="BaseX.Port">1984</entry>
	<entry key="BaseX.Username">ADMIN</entry>
	<entry key="BaseX.Password">ADMIN</entry>


	<!-- RDBMS -->
	<entry key="RDBMS.Driver">org.mariadb.jdbc.Driver</entry>
	<entry key="RDBMS.RemoteURL">jdbc:mariadb://metlabnews.me:3306/METLAB_DB_MARCO</entry>
	<entry key="RDBMS.LocalURL">jdbc:mariadb://localhost:3306/METLAB_DB_MARCO</entry>
	<entry key="RDBMS.UseLocalDB">true</entry> <!-- {false, true} -->
	<entry key="RDBMS.Username">test</entry>
	<entry key="RDBMS.Password">test</entry>
	<entry key="RDBMS.SQLDialect">org.hibernate.dialect.MySQLDialect</entry>


	<!-- Mail -->
	<entry key="Mail.SMTPServer">smtp.gmail.com</entry>
	<entry key="Mail.Password">metlabnews54321</entry>
	<entry key="Mail.FromAddress">metlabnews@gmail.com</entry>
	<entry key="Mail.SMTPPort">465</entry>


	<!-- Logger -->
	<entry key="Logger.LogType">ToConsole</entry> <!-- {ToFile, ToConsole, ToDatabase} -->
	<entry key="Logger.LogFilePath">\Logs\</entry> <!-- The subfolder of the logfiles -->
	<entry key="Logger.FilterERROR">true</entry> <!-- {false, true} -->
	<entry key="Logger.FilterWARNING">false</entry> <!-- {false, true} -->
	<entry key="Logger.FilterDEBUG">true</entry> <!-- {false, true} -->
</properties>